html,
body {
  background-color: #f5f5f5;
  /* background-color: #e6e6e6; */
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 4rem;
  font-weight: 100;
  color: #e7c9c6;
}

.todo__wrapper {
  background-color: #ffffff;
  padding: 15px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}